<div class="login-wrapper">
  <div class="left-panel">
    <img src="assets/images/login.svg" alt="Illustration" />
  </div>
  <div class="right-panel">
    <img src="assets/images/logos/Logo-RD.svg" alt="Logo" class="logo" />

    <h2>Inicia sesión en tu cuenta</h2>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          type="email"
          name="email"
          [(ngModel)]="email"
          required
        />
        <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          name="password"
          [(ngModel)]="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePassword()"
        >
          <mat-icon>{{
            showPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="full-width orange-btn"
        type="submit"
        (click)="onSubmit()"
      >
        ENTRAR
      </button>

      <div class="divider">Otra forma de acceso:</div>

      <button mat-raised-button color="accent" class="full-width decathlon-btn">
        ENTRAR CON DECATHLON
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="loginSSO()"
        class="sso-btn full-width"
      >
        INICIAR SESIÓN CON SSO
      </button>

      <div class="register-link">
        ¿No tienes cuenta?
        <a href="#">Regístrate</a>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <mat-error *ngIf="generalError">{{ generalError }}</mat-error>
    </form>

    <div class="footer">
      <div class="footerLeft">🌐 IDIOMA: ES</div>
      <div class="footerRight">
        <img
          src="assets/images/logos/Econocom.svg"
          alt="Econocom"
          class="logo"
        />
      </div>
    </div>
  </div>
</div>
